[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene = "*"
graphene-django = "*"
confluent-kafka = "*"
django-push-notifications = "*"
onesignal = "*"
django-environ = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
